.pink-color {
    color: pink;
}

.yellow-color {
    color: yellow;
}

.red-color {
    color: red;
}

.orange-color {
    color: orange;
}

.white-color {
    color: white;
}

.blue-color {
    color: blue;
}

.purple-color {
    color: purple;
}

.black-color {
    color: black;
}

.black-edge {
    -webkit-text-stroke: 1px black;
}